
<div class="page">

  <div class="container">

    <div class="left puff-in-center">

      <div class="login">Login</div>

      <!-- Boton de Volver a Home -->
      <div class="iniciars">
        Volver al
        <button class="button-81" role="button" (click)="irAInicio()">inicio</button>
      </div>

    </div>

    <div class="right slide-in-fwd-right">

      <div class="form">

        <form class="form-horizontal" #f="ngForm" (ngSubmit)="onLogin()" novalidate>

          <label for="email">Usuario</label>
          <input class="input" type="email" id="email" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>

          <label for="password">Contraseña</label>
          <input class="input" type="password" id="password" [(ngModel)]="password" name="password" required>

          <button type="submit" class="btn btn-secondary" role="button">LogIn</button>

        </form>

      </div>

    </div>

  </div>

</div>