
.skill {
  font-family: 'Brush Script MT';
  color: aliceblue;
}

.btn {
  margin: 5px;
  align-self: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.bi {
  margin-bottom: 6px;
}

.guardar {
  background-color: blue;
  color: whitesmoke;
  border-radius: 25px;
  padding: 10px;
}

.cerrar {
  background-color: rgb(73, 73, 73);
  color: whitesmoke;
  border-radius: 25px;
  padding: 10px;
}