.lead {
    margin-top: 45px;
    margin-left: 20px;
    text-align: left;
}

.about {
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: left;
}

.titulo {
    color: white;
    font-size: 20px;
    text-align: left;
}



@media only screen and (min-width: 800px) {
    .persona {
        background-image: url(../../../assets/img/helloWorld.jpg);
        background-size: 100%;
        background-position-y: 40%;
        margin: 20px;
        font-family: 'Brush Script MT';
        color: white;
    }
}

@media only screen and (max-width: 800px) {
    .persona {
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20px;
        font-family: 'Brush Script MT';
        color: white;
    }
}


@media only screen and (min-width: 1200px) {
    .profilepic {
        border: whitesmoke;
        border-style: ridge;
        border-width: 10%;
        border-radius: 10px;
        z-index: 1;
        margin: 50px;
        width: 10%;
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .profilepic {
        border: whitesmoke;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        z-index: 1;
        margin-top: 40px;
        margin-left: 10px;
        width: 70px;
        height: 90px;
    }
}